images:
- name: teslamate/teslamate
  newTag: 2.2.0
- name: teslamate/grafana
  newTag: 2.2.0
- name: brchri/tesla-geogdo
  newTag: 2.3.1
- name: postgres
  newTag: 18.1-alpine@sha256:b40d931bd0e7ce6eecc59a5a6ac3b3c04a01e559750e73e7086b6dbd7f8bf545
- name: thomseddon/traefik-forward-auth
  newTag: 2.2.0
- name: mozilla/sops
  newTag: v3.7.3-alpine
- name: google/cloud-sdk
  newTag: 552.0.0-alpine

namespace: teslamate 

resources:
- teslamate.yaml 
- postgresql18.yaml
- grafana.yaml
- whoami.yaml
- auth.yaml
- ingress.yaml
- backup.yaml
- gdo.yaml

generators:
- traefik-forward-auth.yaml
- secrets.yaml
- gcpServiceUser.yaml
- gdo-config.yaml
