images:
- name: teslamate/teslamate
  newTag: 2.2.0
- name: teslamate/grafana
  newTag: 2.2.0
- name: brchri/tesla-geogdo
  newTag: 2.3.1
- name: postgres
  newTag: 18.3-alpine@sha256:97e0c20847f5fe90be7e002ce2619be71f037e898f6c7364ad59e3826d60fee5
- name: thomseddon/traefik-forward-auth
  newTag: 2.2.0
- name: mozilla/sops
  newTag: v3.7.3-alpine
- name: google/cloud-sdk
  newTag: 558.0.0-alpine

namespace: teslamate 

resources:
- teslamate.yaml 
- postgresql18.yaml
- grafana.yaml
- whoami.yaml
- auth.yaml
- ingress.yaml
- backup.yaml
- gdo.yaml

generators:
- traefik-forward-auth.yaml
- secrets.yaml
- gcpServiceUser.yaml
- gdo-config.yaml
