images:
- name: teslamate/teslamate
  newTag: 2.1.1
- name: teslamate/grafana
  newTag: 2.1.1
- name: brchri/tesla-geogdo
  newTag: 2.3.1
- name: postgres
  newTag: 18.0-alpine@sha256:70b32afe0c274b4d93098fd724fcdaab3aba47270a4f1e63cbf9cc69d7bf1be4
- name: thomseddon/traefik-forward-auth
  newTag: 2.2.0
- name: mozilla/sops
  newTag: v3.7.3-alpine
- name: google/cloud-sdk
  newTag: 541.0.0-alpine
- name: thomseddon/traefik-forward-auth
  newTag: 2.2.0

namespace: teslamate 

resources:
- teslamate.yaml 
- postgresql17.yaml
- grafana.yaml
- whoami.yaml
- auth.yaml
- ingress.yaml
- backup.yaml
- gdo.yaml

generators:
- traefik-forward-auth.yaml
- secrets.yaml
- gcpServiceUser.yaml
- gdo-config.yaml
