images:
- name: teslamate/teslamate
  newTag: 2.1.1
- name: teslamate/grafana
  newTag: 2.1.1
- name: brchri/tesla-geogdo
  newTag: 2.3.1
- name: postgres
  newTag: 18.0-alpine@sha256:f898ac406e1a9e05115cc2efcb3c3abb3a92a4c0263f3b6f6aaae354cbb1953a
- name: thomseddon/traefik-forward-auth
  newTag: 2.2.0
- name: mozilla/sops
  newTag: v3.7.3-alpine
- name: google/cloud-sdk
  newTag: 543.0.0-alpine
- name: thomseddon/traefik-forward-auth
  newTag: 2.2.0

namespace: teslamate 

resources:
- teslamate.yaml 
- postgresql17.yaml
- grafana.yaml
- whoami.yaml
- auth.yaml
- ingress.yaml
- backup.yaml
- gdo.yaml

generators:
- traefik-forward-auth.yaml
- secrets.yaml
- gcpServiceUser.yaml
- gdo-config.yaml
